<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	
<!-- 设置编码过滤器 -->	
  <filter>
  	<filter-name>charsetEncodingFilter</filter-name>
  	<filter-class>site.chiyu.servlet.CharsetEncodingFilter</filter-class>
  </filter>
	<!-- 编码过滤器映射 -->  
  <filter-mapping>
  	<filter-name>charsetEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 权限过滤器映射 -->
  <filter>
  	<filter-name>RightFilter</filter-name>
  	<filter-class>site.chiyu.servlet.RightFilter</filter-class>
  </filter>
  
    <filter-mapping>
  	<filter-name>RightFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 配置不需要登录就可以访问的路径初值 -->
   <context-param>
      <param-name>allow_page</param-name>
      <param-value>/login.jsp,/LoginServlet,/register.jsp,/RegisterServlet</param-value>
  </context-param>

  <!-- Servlet映射 -->
  <!-- 登录 -->
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>site.chiyu.servlet.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <!-- 注册 -->
    <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>site.chiyu.servlet.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>